.book-container{
    background-color: bisque;
    width: 50%;
    border: black 1px solid;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 20px;
    position: relative;
}

.book-name{
    font-size: 30px;
    text-align: center;
}

.book-category{
    font-size: 20px;
    font-family: cursive;
}

.book-price{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif
}

.book-image{
    height: 130px;
    position: absolute;
    top: 15px;
    right: 30px;
}

.book-description{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.book-card-action-icon-container{
    display: flex;
    justify-content: center;
}

.book-card-action-icon{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 5px 30px;
    margin: 15px ;
    border-radius: 10px;
    border: none;
}

.book-card-action-icon:hover{
    background-color: rgb(50, 50, 111);
    color: white;
    padding: 6px 33px;
}