.book-card-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.heading{
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-icon{
    height: 65px;
    position: fixed;
    right: 40px;
    bottom: 25px;
}